<div class="limiter" style="position: relative;">
  <div class="container-login100">
    <div class="wrap-login100" style="display: inline-flex; padding: 59px 130px 55px 130px;">
      <div>
        <span class="login100-form-title">Dữ liệu nhà đầu tư TP. HCM</span>
        <button class="login100-form-btn" id="btnDownloadHCM" (click)="downloadHCM()">
          Tải về
        </button>
      </div>
      <div>
        <span class="login100-form-title">Dữ liệu nhà đầu tư TP. Hà Nội</span>
        <button class="login100-form-btn" id="btnDownloadHCM" (click)="downloadHN()">
          Tải về
        </button>
      </div>
    </div>
  </div>
</div>
