<div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
  <div>
  <span class="dialog" style="font-weight: bold;font-size: 25px;">Phong cách đầu tư của bạn:</span><br><br>
  <span class="dialog" [style.background-color]="typeColor" style="font-weight: bold;font-size: 30px; color: #fff;
  padding: 8px 16px 8px 16px; border-radius: 7px;">{{investType}}</span><br><br><br>
  <span class="dialog" style="font-weight: bold; background-color: #4e4eb9; color: #fff;
  padding: 8px; border-radius: 7px;font-size:18px">Dự đoán số nhà đầu tư có cùng phong cách đầu tư với Bạn?</span><br><br>
  <span class="dialog" style="font-weight: bold;font-size:16px">(Có 300 nhà đầu tư tham gia chương trình)</span><br><br>
  </div>
<form style="width: 60%; margin-left: auto; margin-right: auto;" (submit)="closeDialog()" [formGroup]="dialogForm">
<div class="wrap-input100">
  <input class="input100" type="text" formControlName="predict" placeholder="Dự đoán">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-star" aria-hidden="true"></i>
    </span>
  </div>
  <button class="login100-form-btn" style="display: inline-block;" (click)="closeDialog()">
    Kết thúc
  </button>
  <span >{{message}}</span>
</form>
</div>
