<div class="limiter" style="position: relative;">
  <div class="container-login100" style="background-image: url(assets/images/poll.jpg); background-size: cover;">
    <div class="wrap-login100" style="width: 1300px; height: 500px; padding: 61px 107px 33px 95px;">

    <form class="login100-form validate-form" style="position: relative;" (submit)="vote()" [formGroup]="pollForm">
    <div style="margin: 0px; padding: 0px; box-sizing: border-box; width: 300px; margin-top: 40px; position: absolute;">

        <span class="login100-form-title" style="padding-bottom: 27px; color: #00a551;">
          THÔNG TIN CÁ NHÂN
        </span>

        <div class="wrap-input100">
          <input class="input100" type="text" formControlName="fullName" placeholder="Họ và tên" >
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100">
            <input class="input100" type="text" formControlName="yearOfBirth" placeholder="Năm sinh">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100">
            <input class="input100" type="text" formControlName="phone" placeholder="Số điện thoại">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100" data-validate = "Yêu cầu nhập đúng định dạng email: ex@abc.xyz">
          <input class="input100" type="text" formControlName="email" placeholder="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

    </div>

    <div style="margin: 0px; padding: 0px; box-sizing: border-box; width: 300px; position: absolute; margin-left: 400px;">

        <span class="login100-form-title" style="padding-top: 40px; color: #00a551;">
            PHONG CÁCH ĐẦU TƯ CỦA BẠN LÀ GÌ?
        </span>

        <div class="container-login100-form-btn" style="margin-top: -80px;">
          <ul class="pcdt">
            <p> <li>
                <input type="radio" id="tt" formControlName="pcdt_s" value="1"/>
                <label for="tt">Thận trọng</label>
              </li>
            </p>
            <p>
            <li>
              <input type="radio" id="cb" formControlName="pcdt_s" value="2" />
              <label for="cb">Cân bằng</label>
            </li>
          </p>
          <p>
            <li>
              <input type="radio" id="mh" formControlName="pcdt_s" value="3"/>
              <label for="mh">Mạo hiểm</label>
            </li>
          </p>
          </ul>
        </div>

    </div>

    <div style="margin: 0px; padding: 0px; box-sizing: border-box; width: 300px; position: absolute; margin-left: 800px;">

        <span class="login100-form-title" style="padding-top: 40px; color: #00a551;">
          DỰ ĐOÁN SỐ NHÀ ĐẦU TƯ CÓ PHONG CÁCH GIỐNG BẠN
        </span>

        <div class="wrap-input100" style="margin-top: -30px;">
            <input class="input100" type="text" formControlName="predict" placeholder="Dự đoán">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </div>
          <span class="login100-form-title" style="color: #4fa13a; font-size: 20px; padding-bottom: 10px">CÓ TẤT CẢ 300 NHÀ ĐẦU TƯ THAM GIA DỰ ĐOÁN</span>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Hoàn tất dự đoán
          </button>
          <span >{{message}}</span>
        </div>

    </div>

  </form>

    </div>
    <br>
  </div>
