<div class="limiter" style="position: relative;">
  <div class="container-login100" style="background-image: url(assets/images/poll.jpg); background-size: cover;">
    <div class="wrap-login100" style="width: 650px; padding: 61px 107px 33px 95px;">

      <form class="login100-form validate-form" style="width: 500px;" (submit)="openDialog()" [formGroup]="pollForm">
        <span class="login100-form-title" style="color: #4fa13a;">
          THÔNG TIN CÁ NHÂN
        </span>

        <div class="wrap-input100">
          <input class="input100" type="text" formControlName="fullName" placeholder="Họ và tên" >
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100">
          <input class="input100" type="text" formControlName="phone" placeholder="Số điện thoại">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
        </div>

        <span class="login100-form-title" style="padding-top: 42px; color: #4fa13a;">
            CÂU NÀO MÔ TẢ ĐÚNG NHẤT VỀ BẠN?
        </span>

        <div class="container-login100-form-btn" style="margin-top: -80px;">
          <ul class="pcdt">
            <p>
              <li>
                <input type="radio" id="pc11" formControlName="pcdt_1" value="4"/>
                <label for="pc11">Dưới 35 tuổi và dùng dưới 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn</label>
              </li>
            </p>
            <p>
            <li>
              <input type="radio" id="pc12" formControlName="pcdt_1" value="2" />
              <label for="pc12">Dưới 35 tuổi và dùng trên 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn
              </label>
            </li>
          </p>
          <p>
            <li>
              <input type="radio" id="pc13" formControlName="pcdt_1" value="5"/>
              <label for="pc13">Từ 35 - 55 tuổi và dùng dưới 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn</label>
            </li>
          </p>
          <p>
            <li>
              <input type="radio" id="pc14" formControlName="pcdt_1" value="3"/>
              <label for="pc14">Từ 35 - 55 tuổi và dùng trên 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn
              </label>
            </li>
          </p>
          <p>
            <li>
              <input type="radio" id="pc15" formControlName="pcdt_1" value="-3"/>
              <label for="pc15">Đã hoặc sắp nghỉ hưu và dùng dưới 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn</label>
            </li>
          </p>
          <p>
            <li>
              <input type="radio" id="pc16" formControlName="pcdt_1" value="1"/>
              <label for="pc16">Đã hoặc sắp nghỉ hưu và dùng trên 30% thu nhập<br>chi trả các khoản vay và chi tiêu lớn</label>
            </li>
          </p>
          </ul>
        </div>



        <span class="login100-form-title" style="padding-top: 42px; color: #4fa13a;">
          MỨC BIẾN ĐỘNG LỢI NHUẬN<br>VÀ THUA LỖ CÓ THỂ CHẤP NHẬN<br>TRONG MỘT NĂM
      </span>

      <div class="container-login100-form-btn" style="margin-top: -80px;">
        <ul class="pcdt pcdt2">
          <p>
            <li>
              <input type="radio" id="pc21" formControlName="pcdt_2" value="1"/>
              <label for="pc21">Khoảng 5%</label>
            </li>
          </p>
          <p>
          <li>
            <input type="radio" id="pc22" formControlName="pcdt_2" value="2" />
            <label for="pc22">Khoảng 10%
            </label>
          </li>
        </p>
        <p>
          <li>
            <input type="radio" id="pc23" formControlName="pcdt_2" value="3"/>
            <label for="pc23">Khoảng 15%</label>
          </li>
        </p>
        <p>
          <li>
            <input type="radio" id="pc24" formControlName="pcdt_2" value="4"/>
            <label for="pc24">Khoảng 20%
            </label>
          </li>
        </p>
        <p>
          <li>
            <input type="radio" id="pc25" formControlName="pcdt_2" value="5"/>
            <label for="pc25">Khoảng 25%</label>
          </li>
        </p>

        </ul>
      </div>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn" style="display: inline-block;">
            Tiếp tục
          </button>
          <span>{{message}}</span>
        </div>
      </form>
    </div>
    <br>
  </div>

</div>
